[Unit]
Description=OpenSpeed Panel
Documentation=https://github.com/mkoteknik/ospanel
After=network.target lsws.service

[Service]
Type=simple
User=ospanel
Group=ospanel
ExecStart=/opt/ospanel/ospanel --config /etc/ospanel/config.yaml
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

# Guvenlik - panel /home dizinlerine erisim gerektirir
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=no
ReadWritePaths=/var/lib/ospanel /etc/ospanel /usr/local/lsws/conf /tmp /home /etc/cron.d /etc/letsencrypt /var/backups /etc/opendkim

[Install]
WantedBy=multi-user.target
